.home_container{
    margin-top: 5rem;

    display: grid;
    grid-template-columns: minmax(20%, 220px) 1fr;
} 
.input_search{
    margin: 1rem 1rem;

    padding-left: 5rem;
}
.input_search_value{
    font-size: 1.5rem;
    width: 30rem;
    padding: 0.2rem;

    border-radius: 10px;

    border: 1px solid #dcd9d9;;
}