.wrapper-cart{
  position: fixed;
  inset:0 ;
  top: 4rem;
  z-index: 1;

  display: flex;
  justify-content: end;

  background-color: rgb(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;

}
.wrapper-cart--hidden{
    opacity: 0;
    visibility: hidden;

}
.cart{
    width: 100%;
    max-width: 30%;
    height: 100%;

    padding: 1rem 0.5rem;

    background-color: #fff;
}
.cart_title{
 
  color: #F85555;
}
.car_product_container{
  max-height: 100%;
}
.cart_product_list_container{
  height: 90%;
}
.cart_product_list{
  list-style: none;

}