.product_list_container{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-bottom: 7rem;
}
.product_list_container li{
    width: 100%;
    max-width: 400px;
}