.product_card_container{ 
  border: thin solid #dcd9d9;
  border-radius: 1rem;

}
.product_card_img{
    position: relative;

    height: 16rem;
    margin-top: 2rem;
    border-bottom: thin solid #dcd9d9;
 
}
.product_card_img img{
    width: 250px;
    height: 250px;
}
.card_img{
    position: absolute;
    top: 0;
    left: 50%;

    width: 80%;
    height: 20rem;
    object-fit: contain;

    transform: translateX(-50%);
    transition: opacity 0.5s ease-in ;
}
.hidden{
    opacity: 0;
}
.product_card_img:hover .hidden{
    opacity: 1;
}
.visible{
    opacity: 1;
}
.product_card_img:hover .visible{
    opacity: 0;
}
.product_card_details{
    padding: 1rem;
}
.sub_name{
    font-size: 1.2rem;

    color:#515151b1;
}
.info_data{
    font-size: 1.2rem;
    height: 4rem;
    padding-left: 0.8rem;
}
.info_data_price{
    font-size: 1.2rem;
    padding-left: 0.8rem;
}
.dv_btn_add{
    display: flex;
    justify-content: end;

   padding: 1rem;
}
.bnt_add_to_cart_card{
    width: 4rem;
    height: 4rem;

    border-radius: 50%;

    color: #fff;
    font-size: 1rem;
    background-color:#f85555 ;

    cursor: pointer;
}
.bnt_add_to_cart_card i{
    font-size: 1.2rem;
}
.p_product_in_cart_text{
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 1rem 0;

    font-weight: 600;

    color: rgba(23, 23, 255, 0.678);
}



