.cart_product_container{
    width: 100%;
    padding: 0;
    margin-top: 1rem;

    display: flex;
    gap: 1rem;

    

}
.dv_cart_product_img{

    max-width: 25%;
    
    

}
.dv_cart_product_img img{
    width: 100%;
    padding: 0.8rem;

}
.dv_data_container{

    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
   
}
.header_cart_product{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.dv_btns_quantity_product{
    display: flex;
    gap: 1rem;

}
.dv_cart_product_price{


}